<div fxLayout="row wrap" class="wholeScreen" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" class="noAccessDiv" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <h1 style="margin-bottom: 0;">
      Something&apos;s wrong here</h1>
    <h5 style="margin-top: 10px;">
      We can&apos;t find the page you&apos;re looking for. Go back to home page</h5>
    <div fxLayout="row wrap" style="margin-top: 10px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button routerLink="/home" class="primaryBTN">Home page</button></div>
  </div>
</div>